<!DOCTYPE html>
<>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<br>
    <h1><a href="/rango/index" >Rango</a></h1>
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1><br />
        <h2><a href="/rango/logout">Logout</a> </h2><br/>
    {% else %}
        <h1><a href="/rango/register">Register Here</a></h1>
        <h2><a href="/rango/login/">Login</a><br/></h2>
    {% endif %}


    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories to present.</strong>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="/rango/add_category/">Add a New Category</a><br />

    {% if pages %}
        <h2>Top 5 pages:</h2>
        <ul>
            {% for page in pages %}
                <li>Views: {{ page.views }} <a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages to present.</strong>
    {% endif %}

    <h1><a href="/rango/about">About</a></h1>


</body>
</html>