{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index of Rango{% endblock %}

{% block body_block %}

    <h1><a href="{% url 'rango:index' %}" >Rango Index</a></h1>


    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories to present.</strong>
    {% endif %}

    {% if pages %}
        <h2>Top 5 pages:</h2>
        <ul>
            {% for page in pages %}
                <li>Views: {{ page.views }} <a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages to present.</strong>
    {% endif %}

{% endblock %}